.corazon {
    font-size: 30px;
    padding-left: 10px;
}

.botoncorazon {
    padding-left:0px;
    margin-left: 15px;
}

.logostarwars{
    margin-left: 50px;
}

.p2{
    font-weight: bold;
    font-size:large;
}